.eidt {
  padding-top: 140px;
  font-family: "Noto Sans KR", sans-serif;

  .edit__container {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    padding: 25px;
    border: solid 1px #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .art_info {
    height: 100px;
  }
}
